@import './vars.scss';

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'GolosUI-Medium', sans-serif;
}

main {
    flex-grow: 1;
}

.container {
    max-width: 1920px;
    width: 100%;
    padding: 0 15px;
}

.hidden {
    display: none;
}

/*круглая синяя кнопка с плюсиком*/
.btn-globe {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: $white;
    background-color: $primary;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;
    &:hover {
        background-color: $hover-btn;
    }
}

/*кнопка три точки*/
.btn-more {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    padding: 18px 11px;
    background-color: inherit;
    cursor: pointer;
    border: none;
    & .dot {
        background-color: $text-color;
        border-radius: 50%;
        width: 4px;
        height: 4px;
        transition: all 0.3s ease;
    }
    &:hover .dot {
        background-color: $primary;
    }
}

/*большая синяя кнопка*/
.btn {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .5px;
    padding: 12px;
    color: $white;
    background-color: $primary;
    border-radius: 4px;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
        background-color: $hover-btn;
    }
}





