$default: #273142;
$text-color: #354052;
$line-color: #DFE3E9FF;
$white: #FFFFFF;
$coral: #E91E63;
$orange: #FFB300;
$primary: #0085F0;
$hover-btn: #3A9EFF;
$secondary: #ECF6FFFF;
$desktop-bgc: #EFF3F6FF;

