$default: #273142;
$text-color: #354052;
$line-color: #DFE3E9FF;
$white: #FFFFFF;
$primary: #0085F0;
$secondary: #ECF6FFFF;
//$secondary: #FDC055;
//$background: #273142;
//$title-background: #50B0A2;
//$shadow: #D9D9D935;
//$gradient: linear-gradient(270deg, #86e3d4 -1.5%, #50B0A2 50.97%, #336099 92.34%);
//$reverse-gradient: linear-gradient(270deg, #336099 -1.5%, #50B0A2 50.97%, #86e3d4 92.34%);
