<!--Контекстное меню хедера-->
<div class="header__context-menu hidden">
	<div class="context-menu__content">
		<ul class="context-menu__list">
			<li class="context-menu__item">
				<a class="context-menu__link" href="#">Календарь</a>
			</li>
			<li class="context-menu__item">
				<a class="context-menu__link" href="#">Услуги</a>
			</li>
			<li class="context-menu__item">
				<a class="context-menu__link" href="#">Финансы</a>
			</li>
			<li class="context-menu__item">
				<a class="context-menu__link" href="#">Документы</a>
			</li>
			<li class="context-menu__item">
				<a class="context-menu__link" href="#">Сотрудники</a>
			</li>
			<li class="context-menu__item">
				<a class="context-menu__link" href="#">Медиафайлы</a>
			</li>
		</ul>
		<div class="line"></div>
		<button class="context-menu__btn" type="button">Настроить меню</button>
	</div>
</div>
