<!--Subheader при нажатии на "Работа с задачами"-->
<div class="subheader-tabs hidden">
	<div class="container">
		<div class="subheader-tabs__inner">
			<ul class="subheader-tabs__list">
				<li class="subheader-tabs__item">
					<a class="subheader-tabs__link subheader-tabs__link-active" href="#">Работа с задачами</a>
				</li>
				<li class="subheader-tabs__item">
					<a class="subheader-tabs__link" href="#">Счета и платежи</a>
				</li>
				<li class="subheader-tabs__item">
					<a class="subheader-tabs__link" href="#">Показатели продаж</a>
				</li>
			</ul>
			<button class="subheader-tabs__lock" type="button">
				<img src="./images/icons/lock-icon.svg" alt="Замочек">
			</button>
		</div>
	</div>
</div>
