@font-face {
    font-family: 'GolosText-Regular';
    src: url('../../fonts/GolosText-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'GolosUI-Bold';
    src: url('../../fonts/GolosUI-Bold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'GolosUI-Medium';
    src: url('../../fonts/GolosUI-Medium.woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'GolosUI-Regular';
    src: url('../../fonts/GolosUI-Regular.woff2');
    font-weight: 400;
}
